*{margin:0;padding:0;}
html{font-size:62.5%;}
body{background-color: #68cdd5}
img{max-width: 100%;
	transform:scale(0.7)}
.returnkey{margin-top: 3.125%;
	margin-left: 5.468%;}
.pttenglogo{margin-top: 6.87%;
	margin-bottom: 18.12%;
	text-align:center;}
.content{font-family: sans-serif;
	font-size: 2rem;
	letter-spacing: 0.15rem;
    color:#ffffff;
	margin:auto;
	width:75%;}
.icon1{float: left;
    margin-left:10.71%;
	margin-top:27.96%;
	font-size: 1.6rem;
	font-family:"Adobe 黑体 Std";
	color:#ffffff;
	text-align:center;}
.icon2{float: right;
	margin-right:10.06%;
	margin-top:27.96%;
	font-size: 1.6rem;
	font-family:"Adobe 黑体 Std";
	color:#ffffff;
	text-align:center;}
